<a href="https://colab.research.google.com/github/RNkun/CPEN-21A-CPE1-1-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
##Demo1

In [7]:
#Introduction
#demo1
A = "Sally pero malaki"
a = "Sally pero single"
b = "Sally"
print(A)
print(a)
print(b)
print(type(b))

Sally pero malaki
Sally pero single
Sally
<class 'str'>

In [6]:
a, b, c = "apple", "boy", "cat"
d, e = 1, 2
print(a, b, c, d, e)
print(type(a))
print(type(d))

apple boy cat 1 2
<class 'str'>
<class 'int'>

In [9]:
a = float (4)
b = int(4)
c = 4.5
print(a, b)
print(type(c))

4.0 4
<class 'float'>

In [10]:
x = y = z = "three last letter"
print(z)
print(y)
print(x)

three last letter
three last letter
three last letter

In [13]:
x = "ok lang"
print('python programming is '+ x)

python programming is ok lang

In [14]:
x = 1
y = 2
print(x+y)
print(x-y)
print(x*y)
print(x/y)
x<y and x==y #example of program using logical operator

3
-1
2
0.5

False