<a href="https://colab.research.google.com/github/RNkun/CPEN-21A-CPE1-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loop Statement

In [ ]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##Break Statement

In [ ]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break #Display Thursday

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x) #not display Thursday

Sunday
Monday
Tuesday
Wednesday

## Looping through a String

In [ ]:
for x in "week":
  print(x)

w
e
e
k

## The range() Function

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

##Nested Loops

In [ ]:
adjective=["red", "big", "tasty"]
fruits=["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)
3

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#While Loop

In [ ]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

##Break Statement

In [ ]:
i=1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1 #Assignment operator for addition

1
2
3

##Continue Statement

In [4]:
i=1
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

2
4
5
6

In [5]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

##Else Statement

In [ ]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### Application 1

In [ ]:
for x in range(11):
  print("Hello", x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

##Application 2 
###Python program that displays integers less than 10 but not less than 3

In [22]:
i=1
while i<10:
  i+=1
  if i<3:
    continue
  print(i)

3
4
5
6
7
8
9
10